<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a href="{{ path('app_login') }}"><img class="logo" src="{{ asset('build/img/logo.jpg') }}"></a>
        {% if not app.user %}
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
            <ul class="nav navbar-nav pr-3">
                <li class="nav-item mr-3">
                    <h1>Suivi des formations <strong>« titre professionnel »</strong></h1>
                </li>
            </ul>
        </div>
        {% endif %}
        {% if app.user %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto pr-3">
                <li class="nav-item mr-3">
                    <a class="nav-link" href="{{ path('dashboard') }}">Bienvenue,
                        <strong>{{app.user.username}}</strong></a>
                </li>

                {% if app.user.roles[0] == 'ROLE_ENCADRANT' %}
                <li class="nav-item dropdown">
                    <a class="text-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        {% if app.user.roles[0] == 'ROLE_ENCADRANT' %}
                        <a class="dropdown-item" href="{{ path('admin') }}">Panneau d'administration</a>
                        {% endif %}

                    </div>
                </li>
                {% endif %}
                {% if app.user.roles[0] != 'ROLE_STAGIAIRE' %}
                <li class="nav-item dropdown">
                    <a class="text-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Utilisateurs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        {% if app.user.roles[0] == 'ROLE_ENCADRANT' %}
                        <a class="dropdown-item" href="{{ path('app_register') }}">Créer nouvel utilisateur</a>
                        {% endif %}
                        {% if app.user.roles[0] != 'ROLE_STAGIAIRE' %}
                        <a class="dropdown-item" href="{{ path('utilisateurs_index') }}">Liste utilisateurs</a>
                        {% endif %}
                    </div>
                </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="text-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Titres professionnels
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="{{ path('titre_professionnel_index') }}">Titres
                            professionnels</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="text-dark nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sessions de formation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                        {% if app.user.roles[0] == 'ROLE_ENCADRANT' %}
                        <a class="text-dark dropdown-item" href="{{ path('session_new') }}">Ajouter une session</a>
                        {% endif %}
                        <a class="text-dark dropdown-item" href="{{ path('session_index') }}">Liste des
                            sessions</a>
                    </div>
                </li>

                {% if app.user.roles[0] != 'ROLE_STAGIAIRE' and app.user.roles[0] != 'ROLE_FORMATEUR'  %}
                <li class="nav-item dropdown">
                    <a class="text-secondary nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stage
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                        <a class="text-secondary dropdown-item" href="#">Suivi de recherche</a>
                        <a class="text-secondary dropdown-item" href="#">Stage</a>
                        <a class="text-secondary dropdown-item" href="#">Evaluation de stage</a>
                        <a class="text-secondary dropdown-item" href="#">Entretien de stage</a>
                    </div>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="text-decoration-none text-danger nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>

</header>