{% extends 'base.html.twig' %}

{% block title %}Objectif{% endblock %}

{% block body %}
<div class="encadre">
    <h1>Objectif n°{{ objectif.id }}</h1>
    <div class="row px-3 mb-3">
        <div class="ml-auto">
            {% if app.user.roles[0] == 'ROLE_ENCADRANT' %}
                {{ include('objectif/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ objectif.nom }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row px-3">
        <div class="mt-3">
            <a class="secondaire p-2" href="{{ path('objectif_index') }}">Retour à la liste des objectifs</a>
        </div>
        {% if app.user.roles[0] == 'ROLE_ENCADRANT' %}
        <div class="ml-auto">
            <a href="{{ path('objectif_edit', {'id': objectif.id}) }}"><button class="primaire">Modifier</button></a>
        </div>
    {% endif %}
</div>
{% endblock %}