{% extends 'base.html.twig' %}

{% block title %}Evaluation{% endblock %}

{% block body %}
<div class="encadre">

    <h1>Evaluation</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Stagiaire</th>
                <td>{{ evaluation.utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ evaluation.commentaire }}</td>
            </tr>
            <tr>
                <th>NiveauAcquisition</th>
                <td>{{ evaluation.niveauAcquisition }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evaluation_index') }}">Retour à la liste</a>

    <a href="{{ path('evaluation_edit', {'id': evaluation.id}) }}">Modifier</a>

    {{ include('evaluation/_delete_form.html.twig') }}
    </div>
{% endblock %}
